<<<<<<< HEAD
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, video {
    width: 100%;
    max-width: 100%;
}

.pics{
    background: #333333;
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
    margin: 0;
    
}

.pics img{
width: 12.5%;

}

.green-box{
    background: rgb(98, 198, 128);
    padding: 5% 0;
    color: white;
    
}

.green-box-top{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5%;
    margin: 1% auto;
    line-height: 30px;
}




.social{
   
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   
}
.stay-connect{
    width: 50%;
    margin-right: 30%;
}
.green-box-bottom{
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1% auto;
    
    
}

.form-box{
    width: 50%;
}
.form-box label{
    width: 100%;
    
}

.form-box input{
    width: 90%;
    padding: 1.5%;
    margin: 1% 0;
}

.form-box input[id="message"]{
    padding: 10% 0%;
}
.form-box input[type="button"]{
    width: 15%;
    font-size: 26px;
  
}
.maps-area img{
    padding-bottom: 5%;
  
    border-bottom: 1px solid white;
}

.maps-area a{
    color: black;
    text-decoration: none;
}

.maps-area p{
    margin: 2% 0;
    line-height: 20px;
}

footer{
    background: #333333;
    padding: 10%;
    color: darkgrey;
    font-size: x-small;
    display: flex;
    justify-content: space-between;
}

footer a{
    color: rgb(98, 198, 128);
    text-decoration: none;
}

.right-area{
  
    margin-right: 20%;
=======
body{
	padding: 0;
	margin: 0;
}
.img-icon{
	width: 50px;
	height: 50px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
section .flex-container{
	display: flex;
}
.left-side-columns{
	display: flex;

}
.left-side{margin-right: 35px}
.left-side h1{
	font-size: 60px;
	margin-bottom: 0;
}
.left-side p{
	color: #505050
}
.left-side-columns h2{
	color: #202020;
	font-size: 20px;
	margin-bottom: 0
}
.right-side h1 span{
 font-weight: lighter;
}
.right-side-cpation{
	background-color: #4fc680;
    display: flex;
    color: #fff;
    width: 75%;
    padding: 10px 30px;
}
.right-side-cpation img{
    width: 150px;
    height: 150px;
}
 /*

 */

 .meet-the-team{
 	padding: 30px 0;
	background-color: #c9e7de;
	text-align: center;
}
 .meet-the-team .container{
 	width: 75%;
 	margin: 0 auto;
 }
 .meet-the-team h1{
 	font-size: 50px;
 	margin-bottom: 0;
 	color: #202020;
 }
 .meet-the-team h1 span{
 font-weight: lighter;
}
 .meet-the-team p{
 	font-size: 20px;
 }

@media only screen and (max-width: 800px){
	section .flex-container,
	.left-side-columns{
		flex-direction: column;
	}
	.left-side h1,
	.meet-the-team h1{
	font-size: 30px;
	}
	.right-side-cpation{
		margin-bottom: 40px
	}
>>>>>>> 42f61944bd5ea46a4e84c60056cb0b87232b31c7
}